*{
	margin: 0;
	padding: 0;
}
 /* Style for the logo used in overall website */
.logo{
	width: 80%;
	margin: auto;

}
.logosize{
	margin: 30px aut0;
	display: flex;
	text-align: left;
	height: 130px;
	width: 130px;
	flex-basis: 30%;

}
/*styles added to the links present in the website */
.link{

	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 5px;
	border: 2px solid;
	color: black;	
	text-align: right;
	margin: 50px;
	text-decoration: none;
	
}

/*hover effect added to maintain visuality of our website */
.hover :hover{
	text-decoration: underline;
}
/*styling the icons used in our website */
.iconfont a{
	padding: 0;
	width: 80px;
	height: 80px;
	line-height: 64px;
	color: black;
}


